* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(rgb(157, 182, 206), rgb(87, 45, 81));
  background-repeat: no-repeat;
}
.row {
  box-shadow: 2px 8px 5px 3px rgb(155, 144, 144);
  border-radius: 20px;
  transform: translateY(20%);
}

img {
  border-radius: 20px;
}
.form-field {
  position: relative;
}
.success-icon,
.failure-icon {
  position: absolute;
  padding: 30px;
  right: 0;
  top: 15px;
  opacity: 0;
}
.success-icon {
  color: green;
}
.failure-icon {
  color: red;
}
