@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}
.row {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transform: translateY(20%);
}

img {
  border-radius: 20px;
}
.form-field {
  position: relative;
}
.form-field.error input {
  border-color: red;
  border-width: 2px;
}

.form-field.success input {
  border-color: green;
  border-width: 2px;
}

.form-field small {
  color: red;
}
.success-icon,
.failure-icon {
  position: absolute;
  padding: 30px;
  right: 0;
  top: 15px;
  opacity: 0;
}
.success-icon {
  color: green;
}
.failure-icon {
  color: red;
}
